{% extends 'users/layout.html' %}

{% block head %}
    <link rel = "stylesheet" href = "/static/users/stylesheet/split_css.css">
{% endblock %}

{% block body %}
<div class="container_main">
    <main>
    </main>
    <main>
        <br>
        <br>
        <div class="form">
            <br>
            <h2>DELETE</h2>
            <h4>BRING THE PDF FILE TO UPLOAD THEN SELECT THE PAGE TO DELETE.</h4>
            <form method="POST" enctype="multipart/form-data" action="">
            {% csrf_token %}
            <div class="block">
                <p><img src="/static/users/images/delete.png" style="opacity: 0.55"; width="30%"></p>
                <p>{{ form.file1 }}</p>
                <p>{{ form.pageNum }}</p>
                <p>{{ message }}</p>
            </div>
            <br>
            <br>
            <br>
            <input type="submit" value="DELETE">
            </form>
        </div>
    </main>
</div>
{% endblock %}