{% extends 'users/layout_old.html' %}
{% load static %}
{% block body %}
<div class="container_main">
    <main>
    </main>
    <main>
        <br>
        <br>
        <div class="form">
            <br>
            <h2>About</h2><br>
            <div class="button">
            <a href = "https://github.com/prachpalm/cn340_project.git"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a><br>
            <a href='https://www.pivotaltracker.com/n/projects/2470460' target="_blank"><i class="fa fa-th" aria-hidden="true"></i> Pivotal Tracker</a><br>
            <a href='https://drive.google.com/drive/folders/13r7lWBCVqx4GgN42JZxyjSH7kzFDsJ9K?usp=sharing' target="_blank"><i class="fa fa-file-text" aria-hidden="true"></i> Requirements</a><br>
            </div>
            <br>
            <br>
            <h3>Members</3><br>
            <p>5910613198 ธีรเมธ ชอบค้าจริง</p>
            <p>6110613038 สุธิชัย ชูแก้ว</p>
            <p>6110613137 คุณาธิป สัตย์สมนึก</p>
            <p>6110613202 ปราชญ์ ฉันทะสันติธรรม</p>
            <p>6110613285 ณฐภัทร สกลวิจิตร</p>
            <br>
        </div>
    </main>
</div>
{% endblock %}

