<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EZPDF</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" />
    <!-- <link rel="stylesheet" media="screen and (max-width: 700px)" href="{% static 'users/stylesheet/grid_mobile.css' %}" /> -->
    <!-- <link rel="stylesheet" media="screen and (min-width: 701px)" href="{% static 'users/stylesheet/grid.css' %}" /> -->
    {% block head %}
    {% endblock %}
</head>
<body>

    {% block body %}
    {% endblock %}

</body>
</html>